    <!--<img src="/img/bgnews.jpg" alt="Background du site."> -->
    <div class="col-md-8 col-sm-12 couleur">
        <div class="fresharticles">
            <% for(article of articles) {%>
            <div class="articletitle"><%= article.articletitle %></div>
            <img src="<%= article.articleimage %>" class="image" alt="<%= article.articletitle %>">
            <div class="articletext"><%= article.articletext %></div>
            <div class="authorarticle"><%= article.authorarticle %> - <%= article.articledate %></div>
        <% } %>
        </div>
    </div>




    <!--colleft-->
    <div class="col-md-8 col-sm-12 couleur">
        <!--post-detail-->
        <article class="post-detail">
            <h1><%= article.articletitle %></h1>
            <div class="meta-post">
                <a href="#"><%= article.authorarticle %>
                </a>
                <em></em>
                <time datetime="<%= article.articledate %>"></time>
            </div>

            <img alt="<%= article.articletitle %>"
                 src="../img/BFMTV HD.jpg"
            class="img-responsive" />

            CONTENUARTICLE

            <h5 class="text-right font-heading"><strong>PRENOMAUTEUR Françoise NOMAUTEUR Laborde</strong> </h5>

        </article>
        
        
        <!--related post-->
        <div class="detail-caption">
            <span>  DANS LA MÊME CAT&Eacute;GORIE</span>
        </div>
        <section class="spotlight-thumbs spotlight-thumbs-related">
            <div class="row">                
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="spotlight-item-thumb">
                        <div class="spotlight-item-thumb-img">
                            <a href="# <%= article.articletitle %>">
                                <img alt="<%= article.articletitle %>" src="../img/BFMTV MÉTÉO.jpg"
                            </a>
                            <a href="LIBELLECATEGORIE" class="cate-tag">LIBELLECATEGORIE</a>
                        </div>
                        <h3><a href="<%= article.articletitle %>">TITREARTICLE</a></h3>
                        <div class="meta-post">
                            <a href="#">
                                <%= article.authorarticle %>
                            </a>
                            <em></em>
                            <time datetime="<%= article.articletext %>"></time>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

<!-- SIDE BAR -->


