<% include ./partials/head %>

  <title><%= title %></title>
</head>
<body>
  <% include ./partials/navbar %>


    <div class="container bgimg">

        <!--<img src="/img/bgnews.jpg" alt="Background du site."> -->
        <div class="fresharticles">
          <% for(article of articles) {%>
          <div><%= article.articletitle %></div>
          <img src="<%= article.articleimage %>" alt="<%= article.articletitle %>">
          <div><%= article.articletext %></div>
          <div><%= article.articledate %></div>
          <div><%= article.authorarticle %></div>
          <% } %>
      </div>

      <div class="row">

        <% include ./partials/sidebar %>

        
      </div> <!-- DIV ROW -->
    </div> <!-- DIV CONTAINER -->



  <% include ./partials/footer %>
