<% include ./partials/headadmin %>
<title><%= title %></title>
</head>
<% include ./partials/adminside %>
  <div class="col-sm-9 col-xs-9 col-lg-10">
    <h1><%= title %> pour <%= user.firstName %> <%= user.lastName %></h1>

    <form id="formulaire_edition" action="/admin/user/edit/<%= user.id %>" class="inscription" method="POST">
      <div class="form-group">
        <label for="lastname">Nom</label> 
        <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Nom" value="<%= user.lastName %>" required>
      </div>
              
      <div class="form-group">
        <label for="firstname">Prénom</label> 
        <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Prénom" value="<%= user.firstName %>" required>
      </div>
              
      <div class="form-group">
        <label for="user-role">Rôle</label> 
        <select id="user_role" name="userrole">
          <option value="0" <% if (user.role == 0) { %>selected<% } %>>Commenteur</option>
          <option value="1" <% if (user.role == 1) { %>selected<% } %>>Administrateur</option>
        </select>
        <span class="help-block"></span>
      </div>
              
      <div class="text-center">
        <input class="btninscription" type="submit" name="Confirmer" value="Confirmer">
      </div>
    </form>
  </div>
  
    
